<form method="post">
    {% csrf_token %}
    <label>Ім'я</label>
    {{ form.first_name }}<br>
    <label>Прізвище</label>
    {{ form.last_name }}<br>
    <label>По-батькові</label>
    {{ form.patronymic }}<br>
    <label>Посада</label>
    {{ form.post }}<br>
    <label>Телефон</label>
    {{ form.number }}<br>
    <label>Email</label>
    {{ form.email }}<br>
    <label>Username</label>
    {{ form.username }}<br>
    <label>Пароль</label>
    {{ form.password1 }}<br>
    <label>Подтвердите пароль</label>
    {{ form.password2 }}<br>

    {% for error in form.errors %}
        <li style="color: red;">{{ error }}</li>
    {% endfor %}

    <button type="submit">Зарегистрироваться</button>
</form>
