{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="https://kit.fontawesome.com/648c932fa1.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- Навбар -->
<div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'auto:list' %}">
                На главную <i class="fa fa-home"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Переключить навигацию">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                    <!-- Новости -->
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'news:list' %}">
                            Новости <i class="fa-solid fa-newspaper"></i>
                        </a>
                    </li>

                    <!-- Донат на ЗСУ -->
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'charity:donate' %}">
                            Збір на авто для ЗСУ <i class="fa-solid fa-handshake-angle"></i>
                        </a>
                    </li>

                    <!-- Мои Обьявления-->
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="">
                            Мои Обьявления <i class="fa-solid fa-handshake-angle"></i>
                        </a>
                    </li>
                    {% endif %}


                    <!-- Корзина -->
                    <li class="nav-item position-relative" style="padding-left: 62em">
                        <a class="nav-link" href="">
                            <i class="fa-solid fa-cart-shopping"></i>
                                <span class="position-absolute top-2 start-100 translate-middle badge rounded-pill bg-danger">
                                    <span class="visually-hidden">товаров в корзине</span>
                                </span>
                        </a>
                    </li>

                    <!-- Выйти -->
                </ul>
                {% if user.is_authenticated %}
                    <form action="{% url 'account:logout' %}" method="post" class="ms-3">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm">Выйти</button>
                    </form>
                {% endif %}

                <!-- Войти -->
                {% if not user.is_authenticated %}
                    <div class="d-flex align-items-center ms-3">
                        <a href="{% url 'account:login' %}" class="btn btn-outline-primary btn-sm me-2">Войти</a>
                    </div>
                {% endif %}

                <!-- Профиль продавца -->
            {% if user.is_authenticated %}
                <div class="d-flex align-items-center ms-3">
                    <a href="{% url 'account:detail' %}" class="btn btn-outline-primary btn-sm d-flex align-items-center text-nowrap" style="max-width: 1100px; overflow: hidden;">
                        <span class="text-truncate" style="max-width: 115px;">
                            Профиль {{ user.username }}
                        </span>
                        <i class="fa-solid fa-user ms-2"></i>
                    </a>
                </div>
            {% else %}
                <a href="{% url 'account:create' %}" class="btn btn-outline-success btn-sm ms-2">Зарегистрироваться</a>
            {% endif %}

            </div>
        </div>
    </nav>
</div>


<!-- Картинка -->
<div class="text-center mt-3">
    <img src="{% static 'main/image.jpg' %}"
         style="width: 500px; height: auto; border-radius: 35px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);"
         alt="Красивая картинка">
</div>

<div style="padding: 0px 20px">
{% block content %}{% endblock %}
</div>
<!-- Подвал -->
<footer class="text-center mt-3">
    Надеемся на сотрудничество © 2025
</footer>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>

