{% extends 'moderator/index.html' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">surname</th>
            <th scope="col">patronymic</th>
            <th scope="col">post</th>
            <th scope="col">number</th>
            <th scope="col">email</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        	<tr>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.patronymic }}</td>
                <td>{{ user.post }}</td>
                <td>{{ user.number }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}