{% extends 'main/layout.html' %}
{% block title %}
    <title>Auto</title>
{% endblock %}

{% block content %}
    <h1>Автомобили</h1>
    {% for i in auto %}
        <div>
            <h5>Назва виробника: {{ i.title }}</h5>
            <h5>Piк випуску: {{ i.year_of_release }}</h5>
            <h5>Модель: {{ i.model }}</h5>
            <h5>Собівартість: {{ i.Cost }}</h5>
            <h5>Потенційна ціна продажу: {{ i.selling_price }}</h5>

            {% if user.is_authenticated %}
                <a href="{% url 'sell_auto' user.id i.id %}">Продать</a>
            {% else %}
                <a href="{% url 'worker:login' %}?next={{ request.path }}">Продать (требуется вход)</a>
            {% endif %}
            <br><br><br>
        </div>
    {% endfor %}


    {#    <a href="{% url 'index' %}">Назад</a>#}
{% endblock %}







