{% extends 'main/layout.html' %}
{% block title %}
    <title>Welcome page</title>
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center align-items-center" style="height: 10vh;">
        <div class="bg-primary text-white p-3">
            <div class="welcome-page">
                <h1>Главное меню сайта</h1>
                <h3>Войдите как продавец или как администратор</h3>
                <div class="button-group">
                    <a href="worker/login/" class="btn">Войти как продавец</a>
                    <a href="moderator" class="btn">Войти как модератор</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
