{% extends 'main/layout.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <br>
    <form method="post">
        {% csrf_token %}
        <p>Введите логин</p>
        {{ form.username }}<br><br>

        <p>Введите пароль</p>
        {{ form.password }}<br><br>

    {% if form.errors %}
        <div style="color: red; margin-bottom: 10px;">
            Неверный логин или пароль
        </div>
    {% endif %}

        <button type="submit">Войти</button>
        <br><br>
        <a href="{% url 'worker:create' %}">Зарегистрироваться</a>
    </form>
{% endblock %}
